[submodule "ext/pico-ssd1306"]
	path = ext/pico-ssd1306
	url = https://github.com/daschr/pico-ssd1306.git
[submodule "ext/pico-sdk"]
	path = ext/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "ext/lvgl"]
	path = ext/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "ext/ESP8266SdFat"]
	path = ext/ESP8266SdFat
	url = https://github.com/sd2psx/ESP8266SdFat.git
